<h2>Login</h2>
<form method='POST' action='/login'>
  <div class="field">
    <label for="login">Usuario:</label>
    <input type="text" placeholder="Usuario" id="login" name="login" size="30" />
  </div>
  <div class="field">
    <label for="password">Password:</label>
    <input type="password" placeholder="Contraseña" id="password" name="password" size="30" />
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Login" />
  </div>
</form>